@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif, Arial;
  font-size: 14px;
  background: #ffff85;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  width: 100vw;
}

html, body, #root {
  height: 100%;
  
}

a {
  color: inherit;
  text-decoration: none;
}
.fundo{
  background-repeat:no-repeat;
  background-size: cover;
  backdrop-filter: blur( 5px );
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(153, 153, 153, 0.5);
}

.loginfor{
  background-color: rgba(255, 255, 255, 0.856);
  border:1px solid black;
  border-radius: 0.5rem;
  padding: 2rem;
}

.btn{
  color: #f7e11f;
  background-color:#111;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* ChatBot  */

svg {
  display: flex;
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.cds--accordion__item{
  background-color: rgb(238, 238, 238);
  padding: 5px;
}
.cds--accordion__content{
  display: flex;
  flex-direction: column;
  width: 380px;
}

.base-Popper-root{
  /* background-color: aqua; */
  width: 380px;
  padding:5px
}

.float-right {
  /* padding: 1px; */
  height: 40px;
  width: 96% !important;
  /* background-color: aqua; */
  margin-bottom: 5px;
  /* text-wrap: wrap; */
  white-space: normal;
}
.clear-both{
  /* padding: 1px; */
  height: 40px;
  width: 75% !important;
  margin-bottom: 5px;
  /* text-wrap: wrap; */
  white-space: normal;
}

.cds--accordion__item svg{
  display: none;
}